html, body, .container {
    height: 100%;
  }
  
  /* Reset */
  html, body, h1, p, a, div, section {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    
  }
  h5{
    margin: 0;
  }
  /* Basic */
  body { 
    font-family:Arial, Helvetica, sans-serif;
  }
  
  h1 {
    color: #4bf2f2;
    /* text-transform: uppercase; */
    font-size: 4vw;
    padding-top: 10%;
    line-height: auto;
    font-weight: 400;
    margin-top: 20px;
  }
  h5{
    color:#ffffff;
    font-size:2vw;
    font-weight: 500;
    line-height:2.5vw;
    padding-top: 0%;
  
  }
  
  a {
    color: #ffffff;
  }
  
  p {
    margin: 0 0 15px 0;
  }
  
  strong {
    font-weight: 700;
  }
  
 
  /* Layout */
  
  .navbar {
    width: 100%;
   
    height: 40px;
    z-index: 9999;
    position: fixed;
  }
  
    .inner {
      position: relative;
      margin: 0 auto;
      text-align: center;
    }
  
  .navbar a {
    display: inline-block;
    border: 1px solid #fff;
    font-size: 14px;
    line-height: 24px;
    border-radius: 3px;
    padding: 2px 15px;
    text-decoration: none;
    margin-top: 5px;
  }
  
  .container {
    display: table;
    padding-top:0px;
    width: 100%;
    
  }
  
  .content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  
  /* Special */
  /* .sub-title {
    margin: 50px auto;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
  } */
  
  .button {
    display: inline-block;
    padding:.5vw; 
    color: #000000;
    /* border: 3px solid #cafaea; */
    margin: 1em;
    border-radius: 0.5vw;
    background-color:#4bf2f2;
    font-weight: 800;
    font-size: 3vw;
    line-height: auto;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
  }
  .logo img{
    position:relative;
    padding-top:0%;
    padding-bottom: 0%;
    height:10%;
    width:10%;
  }
  
  .logo {
    position:relative;
    top: 0%;
    width: 100%;
    text-align: left;
    font-size: 18px;
    padding-bottom: 5%;
  }
  /* #more-content {
    display: none;
  } */
  
  .logo img{
    width:9vw;
    height:9vw;
    padding-bottom:0%;
    
  }
  
  /* Media Queries */
  @media only screen and (max-width: 340px) {
    
    .container {
      position: relative;
      display: block;
      float: left;
      vertical-align:baseline;
      margin: 0 auto;
      padding: 80px 0 0 0;
    }
    
    #more-content {
      float: left;
      margin-right: 10px;
      
    }
    
    body h1 {
      font-size: 18px;
      line-height: 23px;
    } 
    
    .content, blockquote {  
      display: inline;
      margin: 0 auto;
      padding-top: 80px;
      vertical-align: baseline;
    }
  
    blockquote {
      width: 150px;
      margin: 15px auto;
      font-size: 16px;
      line-height: 21px;
      background-color: transparent;
    }
  
    blockquote cite {
      font-size: 14px;
      line-height: 19px;
    }
  
    .sub-title {
      font-size: 14px;
      line-height: 21px;
    }
  
  
    html, body, .container {
      height: auto;
    }
  }